@import "tailwindcss";

@theme {
  --color-wood-light: #d2b48c;
  --color-wood-dark: #5d4037;
  --color-shelf-accent: #8d6e63;

  --color-text-title: #3e2723;
  --color-text-primary: #333333;
  --color-text-secondary: #666666;

  --color-background-main: #e8dcc7; 
  --color-card-bg: #fdfaf5;         
  --color-ink-dark: #2d1b14;        
  --color-ink-light: #795c4b;       
  --color-border-warm: #a6845e;

  --font-family-title: 'Noteworty', cursive;
  --font-family-body: 'Open Sans', sans-serif;

  --color-brand-primary: #065f46;         /* emerald-800 */
  --color-brand-primary-hover: #059669;   /* emerald-600 */
  
  --color-brand-secondary: #78716c;       /* stone-500 */
  --color-brand-secondary-hover: #a8a29e; /* stone-400 */
  
  --color-brand-danger: #b91c1c;          /* red-700 */
  --color-brand-danger-hover: #ef4444;    /* red-500 */
}


/*------ ui-components ------ */

@import "./ui/base.css";
@import "./ui/buttons.css";
@import "./ui/navbar.css";
@import "./ui/footer.css";

/*------ domain-components ------ */

@import "./components/gameCard.css";

/*------ views-components ------ */

@import "./views/mainAllGames.css";
@import "./views/mainDetailGame.css";