<footer>
    <div id="footer-main">
        <div id = "footer-main-left-section">
            <h2 class="footer-h2">Contattaci</h2>
            <p class="footer-text">
                &#9993; <span class="footer-span"> 163250@spes.uniud.it </span> <br>
                &#9742; <span class="footer-span"> +39 123 456 7891 </span> <br>    
            </p> 
        </div>
        <div id="footer-main-right-section">
            <h2 class="footer-h2">Social</h2>
            <p class="footer-text">
                Facebook: <span class="footer-span"> /bggLibrary </span> <br>
                Instagram: <span class="footer-span"> @bggLibrary </span>
            </p>
        </div>
    </div>
    <div id="footer-copy">
        &copy; 2026 Tutti i diritti riservati
    </div>
</footer>