<div class="game-card ">
    <img class="game-img" src="" alt="">
    
    <div class="game-information-section">
        <h3 class="game-title"></h3>
        
        <div class="game-data-section">
            <span class="game-players"></span>
            <span class="game-time"></span>
        </div>
        
        <div class="game-position-section">
            <span>📍 <span class="game-location"></span></span>
            <div class="game-card-actions">
                <button class="game-action-btn">✏️</button>
            </div>
        </div>
    </div>
</div>