<main id="main-section">
    <div id="main-home">
        <p> Qui ci vanno i giochi</p>
    </div>
    <div id = "main-right-section">
        <div id = "game-details" class="main-right-container">
            <p>	&#x1F465; Giochi totali: <span id="total-games">0</span></p>
        </div>
        <div id="quick-filter" class="main-right-container">
            <h2>Filtri rapidi</h2>
            <div id="quick-filter-grid">
                <button class="quickFilterButton" id="filter-15minutes">15 minuti</button>
                <button class="quickFilterButton" id="filter-30minutes">30 minuti</button>
                <button class="quickFilterButton" id="filter-2Player">2 giocatori</button>
                <button class="quickFilterButton" id="filter-4Player">4 giocatori</button>
                <button class="quickFilterButton" id="filter-5years">+ 5 anni</button>
                <button class="quickFilterButton" id="filter-10years">+ 10 anni</button>
            </div>
        </div>
        <div id = "navigationButtons" class="main-right-container">
            <button class="allGameButton">
                Tutti i giochi
            </button>
        </div>
    </div>
</main>