<!--Error:      class="popup-error"     -->
<!--Warn:       class="popup-warn"      -->
<!--Info:       class="popup-info"      -->
<!--Success:    class="popup-success"   -->
<!--Confirm:    class="popup-confirm"   -->

<dialog id="popup" class = "popup">
    <div class="popup-header">
        <span class="popup-icon"></span> 
        <div class="popup-title"></div>
        <button class="popup-close-btn">X</button>
    </div>
    <div class="popup-content">
        <p class="popup-text"></p>
    </div>
    <div class="popup-footer-single hidden">
        <button class="popup-ok-btn">Ok</button>
    </div>

    <div class="popup-footer-double hidden">
        <button class="popup-cancel-btn">Annulla</button>
        <button class="popup-confirm-btn">Conferma</button>
    </div>
</dialog>