<section id="main-section">
    <div id="main-home">
        <p> Qui ci vanno i giochi</p>
    </div>
    <div id = "main-right-section">
        <div id="search-box" class="main-right-container">
            <div class="search-input-wrapper">
                <input type="text" id="search-game-input" placeholder="Titolo...">
                <button id="search-btn" class="icon-btn">🔎</button>
            </div>
            <button id="advanced-search-btn" class="link-btn">⚙️</button>
            <button id="clear-filter-js" class="link-btn">🗙</button>
        </div>
        <div id = "add-game-box" class="main-right-container">
            <button id="add-game-btn"> + Aggiungi gioco </button>
        </div>
        <div id="quick-filter-box" class="main-right-container">
            <h2 class="title-right-box">Filtri rapidi</h2>
            <div id="quick-filter-grid">
                <button class="quick-filter-btn" id="filter-15minutes">15 minuti</button>
                <button class="quick-filter-btn" id="filter-30minutes">30 minuti</button>
                <button class="quick-filter-btn" id="filter-2Player">2 giocatori</button>
                <button class="quick-filter-btn" id="filter-4Player">4 giocatori</button>
                <button class="quick-filter-btn" id="filter-5years">+ 5 anni</button>
                <button class="quick-filter-btn" id="filter-10years">+ 10 anni</button>
            </div>
        </div>
        <div id = "collection-statistics-box" class="main-right-container">
            <h2 class="title-right-box">Statistiche:</h2>
            <p>	&#x1F465; Giochi totali: <span id="total-games">0</span></p>
            <p> Medie:</p>
            <div id="collection-statistics" class="flex flex-wrap gap-3 mt-4">
                <span id="average-players" class="badge-info" title="Giocatori"             >👥 <span id="average-players-val"></span></span>
                <span id="average-time"    class="badge-info" title="Durata"                >⏱️ <span id="average-time-val"></span> min</span>
                <span id="average-age"     class="badge-info" title="Età Minima"            >👶 <span id="average-age-val"></span>+</span>  
            </div>
        </div>
        <div id="legend-box" class="main-right-container">
            <h2 class="title-right-box">Leggenda</h2>
            <div id="legend-grid">
                <!-- filled with JS -->
            </div>
        </div>
        <div id = "navigation-btn-box" class="main-right-container">
            <button class="all-game-btn"> Tutti i giochi </button>
        </div>
    </div>
</section>