<section id="main-section">
    <div id="main-home"> <!-- filled with JS --> </div>
    <div id = "main-right-section">
        <div id="search-box" class="main-right-container">
            <div id="search-group-input" class="input-group search-group">
                <input type="text" id="search-game-input" placeholder="Titolo...">
                <button id="search-btn" class="search-btn" title = "Cerca">🔎</button>
            </div>
            <div id="search-group-btn" class="search-group">
                <button id="advanced-search-btn" class="search-btn" title = "Ricerca avanzata">⚙️</button>
                <button id="clear-filter-btn" class="search-btn btn-danger" title = "Cancella ricerca">🗙</button>
            </div>
        </div>
        <button id="add-game-btn" class="primaryButton">
            + Aggiungi nuovo gioco
        </button>
        <div id="quick-filter-box" class="main-right-container">
            <h2 class="title-right-box">Filtri rapidi</h2>
            <div id="quick-filter-grid"> <!-- filled with JS --> </div>
        </div>
        <div id="collection-statistics-box" class="main-right-container">
            <h2 class="title-right-box">Statistiche:</h2>
            <p class="stat-row">
                📦 Giochi totali: <span id="total-games" class="stat-value">-</span>
            </p>
            <p class="stat-row">
                ⏳ Tempo di gioco totale: <span class="stat-value"><span id="total-playtime">-</span> ore</span>
            </p>
            <p> 📊 Medie:</p>
            <div id="collection-avg" class="flex flex-wrap gap-3 mt-4">
                <span id="avg-players" class="badge-info" title="Media giocatori">👥 <span id="avg-players-val">-</span></span>
                <span id="avg-time"    class="badge-info" title="Tempo medio"    >⏱️ <span id="avg-time-val">-</span> min</span>
                <span id="avg-age"     class="badge-info" title="Età media"      >👶 <span id="avg-age-val">-</span>+</span>  
            </div>
        </div>
        <div id="legend-box" class="main-right-container">
            <h2 class="title-right-box">Leggenda</h2>
            <div id="legend-grid"> <!-- filled with JS --> </div>
        </div>
        <div id = "navigation-btn-box" class="main-right-container">
            <button class="all-game-btn primaryButton"> Tutti i giochi </button>
        </div>
    </div>
</section>