<section id="main-modified-section">
    <div id="modified-card" class="form-card">
        <form id="game-form">
            <div class="form-row">
                <div class="form-group">
                    <label for="name-input">Nome del gioco:</label>
                    <input type="text" id="name-input" name="Name">
                    <span class="error-message" id="Name-error"></span>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group">
                    <label for="game-players-input">Numero di giocatori:</label>
                    <div class="input-group">
                        <input type="number" id="min-players-input" name="MinPlayer" placeholder="minimo">
                        <span> - </span>
                        <input type="number" id="max-players-input" name="MaxPlayer" placeholder="massimo">
                    </div>
                </div>
                <div class="form-group">
                    <label for="time-input">Durata (minuti):</label>
                    <input type="number" id="time-input" name="Time">
                </div>
                <div class="form-group">
                    <label for="age-input">Età minima:</label>
                    <input type="number" id="age-input" name="MinAge">
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group">
                    <label for="year-input">Anno di pubblicazione:</label>
                    <input type="number" id="year-input" name="Year">
                </div>
                <div class="form-group">
                    <label for="location-input">Posizione:</label>
                    <input type="text" id="location-input" name="Location" placeholder="piano.scaffale.mensola">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="small-image-input">Link immagine di copertina</label>
                    <input type="url" id="small-image-input" name="UrlSmallImage">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="big-image-input">Link immagine di dettaglio</label>
                    <input type="url" id="big-image-input" name="UrlBigImage">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="description-input">Descrizione:</label>
                    <textarea id="description-input" name="Description"></textarea>
                </div>
            </div>

            <div class = "form-button-row">
                <button id="navigate-back-btn"  type="button"   class="secondaryButton">Annulla</button>
                <button id="save-game-btn"      type="submit"   class="primaryButton">Salva</button>
            </div>
        </form>
    </div>
</section>